body {
    font-family: 'Calibri'
}

.page {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80;
    font-family: 'Calibri'
}

.leftCont {
    grid-template-rows: 1 / 3;
    grid-template-columns: 1 / 2;
    background-color: rgb(255, 255, 255);
}

.rightCont {
    grid-template-columns: 2 / 3;
    grid-template-rows: 1 / 3;
    background-color: rgb(220, 220, 220);
}

.dash {
    padding-bottom: 3vh;
    padding-top: 1vh;
}

.firstSet {
    padding-bottom: 3vh;
}

.secondSet {
    padding-bottom: 70vh;
}

.topCont {
    display: flex;
    flex-direction: column;

}

.topRow1 {
    display: flex;
    align-items: center;
}

.bottomRow1 {
    display: flex;
    align-items: center;
}

.smallimg {
    height: 30px;
    width: auto;
    padding-left: 1vw;
    padding-right: 0.5vw;
}

#bell {
    padding-left: 15vw;
}

#topRightPfp {
    height: 40px;
    width: auto;
    padding-left: 1vw;
}

#topRightName {
    padding-left: 1vw;
    font-size: 2rem;
    font-weight: 600;
}

#search {
    height: 30px;
    width: 700px;
}

#botLeftPfp {
    height: 60px;
    width: auto;
}

.topRow1 {
    padding-top: 3vh;
    padding-left: 2vw;
}

.bottomRow1 {
    padding-top: 5vh;
    padding-left: 3vw;
}

.bottomRow2,
.topRow2 {
    display: flex;
}

.bottomRow2 {
    margin-top: 1vh;
}

#projects,
.bottomLeftCont {
    width: 70%;
}

.bottomCont {
    padding-top: 6vh;
}

.stackedText {
    padding-left: 1vw;
}

#new {
    margin-left: 23vw;
}

.blueButtons {
    margin-left: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 15px;
    border: none;
    background-color: orange;
    font-weight: 600;
}

.bottomCont {
    padding-left: 3vw;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    display: flex;
    width: 50%;
    margin-left: 2vh;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2vh;
    box-shadow: 0px 3px 5px grey;
    border-radius: 5px;
    overflow: hidden;
}

.bottomLeftCont {
    padding-right: 3vw;
}

.colorStrip {
    width: 10px;
    height: 20vh;
    background-color: orange;
}

.brCornerCont {
    display: flex;
    flex-direction: column;
}

.bottomRightCont,
.bottomRightCont2 {
    background-color: white;
    margin-bottom: 4vh;
    height: 28.5vh;
    width: 20vw;
}

#trending {
    margin-bottom: 1vh;
}

.dash {
    padding-left: 4vw;
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.firstSet, .secondSet {
    list-style: none;
    text-decoration: none;
}

#dashImg {
    height: 70px;
    width: auto;
}

.dashImages {
    height: 30px;
    width: auto;
    margin-right: 1vw;
    padding-left: 3vw;
    color: rgb(0, 0, 0);
    /* filter: saturate(100);
    filter: contrast(0%); */
    filter: brightness(1);
}

.firstSet li, .secondSet li {
    padding-top: 1vh;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.titleText {
    font-size: 2rem;
    font-weight: 600;
    padding-left: 1vw;
    padding-top: 3vh;
}

.descText {
    font-size: 1.5rem;
    padding-left: 1vw;
    padding-right: 4vw;
}

#search {
    border-radius: 10px;
    border: none;
}

#hi {
    font-weight: 600;
    font-size: 1.5rem;
}

#hiName {
    font-weight: 600;
    font-size: 3rem;
}

#announcements, #projects, #trending {
    font-weight: 600;
    font-size: 2rem;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.brTop {
    margin-top: 25px;
}

.bottomRightCont, .bottomRightCont2 {
    text-align: center;
    overflow: scroll;
}

.titleBr {
    font-weight: 600;
    font-size: 1.5rem;
}
